:root {
  --color-1: #E90A39;
  --color-2: #4A4A4A;
  --color-3: #FCA311;
  --color-4: #E5E5E5;
  --color-5: #fff;

  --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);

  --roboto-thin: 100;
  --roboto-light: 300;
  --roboto-regular: 400;
  --roboto-medium: 500;
  --roboto-bold: 700;
}

html {
  font-size: 12px; /* rem */
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  line-height: 1.1;
  color: #111;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}

.vfull {
  min-height: 100vh;
  box-sizing: border-box;
}

.box-shadow {
  box-shadow: 0px 1px 4px hsl(206deg 48% 24% / 10%),
              0px 6px 12px hsl(206deg 48% 24% / 10%);
}
.box-shadow-s {
  box-shadow: 0px 1px 4px hsl(206deg 48% 24% / 10%),
              0px 3px 6px hsl(206deg 48% 24% / 10%);
}
.flex {
  display: flex;
}
.grow-0 {
  flex-grow: 0;
}
.grow-1 {
  flex-grow: 1;
}
.items-center {
  align-items: center;
}
.items-flex-end {
  align-items: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}

.btn {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  background-color: var(--color-1);
  padding: 1em 1.5em;
  margin: 0;
  font-size: 1.33em;
  line-height: 1;
  font-weight: var(--roboto-bold);
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.15),
              0 3px 6px rgba(0,0,0,0.15);
}
.btn:active {
  transform: translateY(1px);
  box-shadow: 0 0px 4px rgba(0,0,0,0.15),
              0 2px 6px rgba(0,0,0,0.15);
}
.btn,
.btn:focus {
  border: 0;
  outline: none;
}
.btn.btn-secondary {
  background-color: var(--color-2);
}


.float-right {
  float: right;
}
.float-left {
  float: left;
}
.color-1 {
  color: var(--color-1);
}
.color-2 {
  color: var(--color-2);
}

.section-title {
  font-size: 18px;
  font-weight: var(--roboto-light);
  margin-bottom: 10px;
  margin-top: 60px;
  color: var(--color-2);
}
.section-title span {
  color: var(--color-1);
  font-weight: var(--roboto-bold);
  display: inline-block;
  margin-right: 0.4em;
}

.section-underline {
  height: 3px;
  background-color: rgba(74, 74, 74, .25);
  margin-bottom: 30px;
}

.section-underline span {
  display: block;
  width: 200px;
  height: 100%;
  background-color: var(--color-1);
}

.group-control {
  display: flex;
  gap: 15px;
}

.control {
  width: 100%;
  position: relative;
  height: 48px;
  margin-bottom: 20px;
}

.control label {
  position: absolute;
  height: 18px;
  border: 0;
  line-height: 1em;
  font-size: 14px;
  font-weight: var(--roboto-bold);
  transform: translate(11px, 15px);
  transition: transform .3s var(--ease-out-cubic),
              font-size .3s var(--ease-out-cubic);
  background-color: #fff;
  padding: 2px 4px;
}

.control.focus label,
.control.hasValue label {
  transform: translate(11px, -9px);
  line-height: 1em;
  font-size: 12px;
}

.control.focus label {
  color: var(--color-1);
}

.control input[type="text"],
.control input[type="number"],
.control input[type="email"],
.control input[type="date"],
.control select {
  border: 1px solid rgba(74,74,74,0.5);
  border-radius: 4px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.15),
              0 3px 5px rgba(0,0,0,0.15);*/
  box-sizing: border-box;
  padding: 0 15px;
  line-height: 48px;
  font-size: 14px;
  font-weight: var(--roboto-regular);
}

.control input[type="text"]:focus,
.control input[type="number"]:focus,
.control input[type="email"]:focus,
.control input[type="date"]:focus,
.control select:focus {
  outline: none !important;
  border: 1px solid var(--color-1);
}

.control-radio {
  margin-bottom: 0;
}
.control-radio label {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 48px;
  transform: translate(0, 0)
}
