@import url(base.css);
@import url(search-box.css);

.results {
  margin-bottom: 60px;
  color: var(--color-2);
}

.result {
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.bus-type {

}

.bus-type .gallery {
  border-radius: 8px;
  width: 250px;
  height: 200px;
  box-sizing: border-box;
}
.bus-type .gallery .image {
  background-color: #ddd;
  border-radius: 6px;
  height: calc(100% - 5px);
  margin: 3px 3px 2px;
  box-sizing: border-box;
}

.bus-content {
  padding: 20px;
  box-sizing: border-box;
}
.bus-content .bus-header {
  height: 40px;
  border-bottom: 1px solid var(--color-1);
  padding-bottom: 6px;
}
.bus-content .bus-header .title {
  font-size: 28px;
  line-height: 1.1;
  font-weight: var(--roboto-light);
}
.bus-content .bus-header .price {
  font-size: 16px;
  line-height: 1.1;
  font-weight: var(--roboto-light);
}
.bus-content .bus-header .price-symbol {
  font-size: 20px;
  line-height: 1.1;
  font-weight: var(--roboto-regular);
  color: var(--color-1);
}
.bus-content .bus-header .price-number {
  font-size: 32px;
  line-height: 1.1;
  font-weight: var(--roboto-bold);
  color: var(--color-1);
}

.bus-services {
  padding-right: 60px;
}

.bus-services .title {
  font-size: 16px;
  font-weight: var(--roboto-bold);
  line-height: 1;
  margin: 25px 0 0;
}

.bus-service {
  font-size: 16px;
  font-weight: var(--roboto-light);
  line-height: 1;
  padding: 20px 0 0;
  width: 33%;
  display: inline-block;
}
.bus-service i {
  opacity: 0.5;
}

.bus-services + .btn i {
  font-size: 0.8em;
  opacity: 0.75;
}



.schedules {
  overflow: hidden;
  opacity: 1.0;
  max-height: 300px;

  will-change: opacity;
  transition: opacity 0.3s ease-out,
              max-height 0.3s ease-out;
}
.schedules.hide {
  max-height: 0px;
  opacity: 0.0;
}

.schedule {
  padding: 30px 20px;
  position: relative;
}
.schedule::before {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  height: 1px;
  background: linear-gradient(90deg, rgba(74, 74, 74, 0) 0%,
                                     rgba(74, 74, 74, 0.15) 50%,
                                     rgba(74, 74, 74, 0) 100%);
}

.schedule-label {
  font-size: 14px;
  font-weight: var(--roboto-bold);
  color: var(--color-2);
  line-height: 1;
}
.schedule-content {
  margin-top: 12px;
  font-size: 18px;
  font-weight: var(--roboto-light);
  color: var(--color-2);
  line-height: 1.1;
}
.schedule-content i {
  font-size: 0.9em;
}

.schedule-time {
  font-size: 14px;
  color: var(--color-2);
  text-align: right;
  padding-right: 60px;
}
