.hero {
  height: 100vh;
  min-height: 400px;
}

.hero-slider,
.slider__slides {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hero-slider {
  position: relative;
}

.hero-slider .slider__paginator {
  position: absolute;
  z-index: 4;
  bottom: 60px;
  width: 100%;
  height: 12px;
  text-align: center;
}

.hero-slider .slider__paginator > span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #fff;
  margin: 0 12px;
  line-height: 1%;
  cursor: pointer;
}

.hero-slider .slider__paginator > span.active {
  background-color: var(--color-1);
  cursor: default;
}

.hero-slider .slide {
  background-size: cover;
  background-position: center center;
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 1;
  opacity: 0.0;
}
.slide.from-right {
  transform: translate3d(150%,0,0) scale(2.0);
}
.slide.from-left {
  transform: translate3d(-150%,0,0) scale(2.0);
}
.slide.active {
  display: block;
  transform: translate3d(0%,0,0) scale(1.0);
  opacity: 1.0;
}


.hero-slider .slide-0 {
  background-image: url(../images/hero-piura.jpeg);
}
.hero-slider .slide-1 {
  background-image: url(../images/hero-arequipa.jpeg);
}
.hero-slider .slide-2 {
  background-image: url(../images/hero-piura.jpeg);
}

.hero-slider .slide-transition {
  display: block;
  transition: transform .85s var(--ease-out-cubic),
              opacity .85s var(--ease-out-cubic);
  will-change: transform, opacity;
  z-index: 2;
}


/* #region SEARCH BOX */

.search-box-container {
  position: absolute;
  z-index: 5;
  top: 50vh;
  left: 50%;
  margin-left: -480px;
  width: 960px;
}
.search-box-container .slogan {
  display: block;
  width: 460px;
  margin: 0 auto 16px;
}
.search-box {
  --radius: 4px;

  background-color: #fff;
  height: 52px;
  border-radius: 4px;
  display: flex;
}
.search-box .box {
  flex-grow: 1;
}
.search-box .box:not(button) {
  border: 1px solid transparent;
}
.search-box .box:not(button):hover {
  border-color: rgba(74,74,74,0.3);
}

.box-origin {
  border-radius: var(--radius) 0 0 var(--radius);
}
.box-origin label {
  border-radius: calc(var(--radius) - 1px) 0 0;
}
.box-origin .control {
  border-radius: 0 0 0 calc(var(--radius) - 1px);
}


.box-swap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box .box.box-swap:hover {
  border-color: transparent;
}

.box-swap button {
  border: 0;
  border-radius: 3px;
  background-color: transparent;
  width: 32px;
  height: 32px;
  line-height: 1%;
  cursor: pointer;
  color: rgba(74,74,74,.8);
  font-size: 14px;
}
.box-swap button:hover {
  box-shadow: 0px 1px 2px rgba(74, 74, 74, 0.3);
  color: var(--color-2);
}
.box-swap button:active {
  transform: translateY(1px);
  box-shadow: 0px 0px 2px rgba(74, 74, 74, 0.3);
}
.box-swap button img {
  width: 16px;
  height: 16px;
}

.box-target,
.box-date-departure,
.box-date-return {
  position: relative;
}
.box-target::after,
.box-date-departure::after,
.box-date-return::after {
  content: '';
  width: 1px;
  height: 100%;
  background-color: rgba(74,74,74,0.15);
  display: block;
  position: absolute;
  top: 0;
  right: -2px;
}
.box-target:hover::after,
.box-date-departure:hover::after,
.box-date-return:hover::after {
  display: none;
}


.box-passengers {

}
.box-button {
  background-color: var(--color-1);
  color: #fff;
  width: 134px;
  border: 0;
  border-radius: 0 var(--radius) var(--radius) 0;
  font-size: 16px;
  font-weight: var(--roboto-bold);
  cursor: pointer;
}
.box-button:active span {
  display: inline-block;
  transform: translateY(1px);
}
.box-button span > i {
  opacity: 0.65;
  margin-right: 10px;
}

.search-box label {
  font-size: 9px;
  line-height: 1.1em;
  font-weight: var(--roboto-bold);
  color: var(--color-2);
  display: block;
  padding: 13px 0 5px 12px;
  cursor: text;
}

.search-box .control {
  font-size: 13px;
  line-height: 1.1em;
  font-weight: var(--roboto-regular);
  color: var(--color-2);
  padding: 0 12px 8px;
  width: 100%;
  box-sizing: border-box;
  display: block;
}
.search-box .control,
.search-box .control:focus {
  border: 0;
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

.search-box .control::placeholder {
  /* color: rgba(var(--color-2), 0.3); */
  color: rgba(74, 74, 74, 0.3);
}

/* #endregion SEARCH BOX */
